<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yline.view.recycler.demo">

    <application
        android:name="com.yline.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <!-- adapter -->
        <activity android:name=".adapter.SimpleListActivity"></activity>
        <activity android:name=".adapter.SimpleRecyclerActivity"></activity>
        <activity android:name=".adapter.SimpleEmptyRecyclerActivity"></activity>
        <activity android:name=".adapter.SimpleHeadFootRecyclerActivity"></activity>
    </application>

</manifest>
