<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yline.view.recycler.demo">

    <application
        android:name="com.yline.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- adapter -->
        <activity android:name=".adapter.SimpleListActivity" />
        <activity android:name=".adapter.SimpleRecyclerActivity" />
        <activity android:name=".adapter.SimpleHeadFootRecyclerActivity" />
        <!-- linear -->
        <activity android:name=".linear.LinearRecyclerActivity" />
        <activity android:name=".linear.LinearHeadFootRecyclerActivity" />
        <!-- grid -->
        <activity android:name=".grid.GridRecyclerActivity" />
        <activity android:name=".grid.GridHeadFootRecyclerActivity" />
        <activity android:name=".refresh.CircleProgressActivity" />
        <activity android:name=".refresh.CustomRefreshActivity" />
        <activity android:name=".refresh.SimpleRefreshActivity"></activity>
    </application>

</manifest>